<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ticket Brokerage System</title>
	<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="container mt-5">
		<main>
			<div class="row py-4">
				<h6 class="mb-3 text-danger">Error : Failed to process your request!</h6>
				<a th:href="@{/}">Home</a>
			</div>
		</main>
	</div>

	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
</body>

</html>